<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
</head>
<body>
<% include partials/menu %>
<div class="col-sm-12 text-center lo-aboutus"><h1>Sachin-Website</h1><p class="card-text">Greetings to all the learners out there! We welcome you to the platform where we consistently strive to offer the best of technology/education. This platform has been designed for every person wishing to expand their knowledge and is ready to grab their dream job. We have an ocean of articles and youtube videos just for you. Thank you for choosing and supporting us. Come, join us to dive in the ocean of learning!</p><div class="lo-sociallinks"><ul><li><a href="https://facebook.com/learningocean1" target="_blank"><i class="fab fa-facebook" tabindex="0"></i></a></li><li><a href="https://www.instagram.com/learningocean1/" target="_blank"><i class="fab fa-instagram" tabindex="0"></i></a></li><li><a href="https://www.youtube.com/c/GouravSharma/" target="_blank"><i class="fab fa-youtube" tabindex="0"></i></a></li><li><a href="https://t.me/learningocean" target="_blank"><i class="fab fa-telegram" tabindex="0"></i></a></li></ul></div><span class="lo-about-span">Made with <!-- --> <i class="fa fa-heart pulse"></i> <!-- -->in <a href="https://www.google.com/maps/place/Lalsot,+Rajasthan+303503/@26.5572571,76.3098696,14z/data=!3m1!4b1!4m5!3m4!1s0x396dfc51efa38141:0xd79f14f37719a33e!8m2!3d26.5606174!4d76.3281212" target="_blank">India</a></span></div>
</div>

</body>
<% include partials/script %>
</html>
