<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
</head>
<body>
<% include partials/menu %>
<div class="inside-article">
<header class="entry-header" aria-label="Content">
<h1 class="entry-title" itemprop="headline">Contact Us</h1>                     </header>
<div class="entry-content" itemprop="text">
<p>Hello and <strong>Welcome to Learning-Ocean</strong>, the largest free Linux and AWS resource site for beginners and professionals.</p>
<p>At <strong>Learning-Ocean</strong>, our main goal is to provide cutting-edge helpful highest-quality Linux tutorials that are easy to understand by all techy and non-techy users. Our mission is to “help Linux system administrators around the world become more professional.”</p>
<p>Every month more than <strong>4 million</strong> Linux users visit <strong>Learning-Ocean.com</strong> to learn a new skill, hone an existing one, or read the tutorials on the Linux and FOSS ecosystems. It really feels amazing how far we’ve come but we think we can do even better!</p>
<p>Additionally, many of our readers engage in conversation through comments on our blog posts and thus help us enrich the content we provide.</p>
<p>We are aware that it has been individual contributions that have made us one of the most well-known Linux blogs out there. Thus, we pay extra attention to what everyone has to say.</p>
<p>Do you have a question that requires a response? We primarily use this form for collecting general questions regarding the site.</p>
<ul>
<li>Is there anything that you think we can do better?</li>
<li>Any topics that you would like to see discussed or written about?</li>
<li>Want to send any technical problems, typos, and concerns with the articles or website?</li>
<li>Would you like to advertise with us and showcase your products to our audience?</li>
<li>Do you simply want to thank us?</li>
<li>Something else?</li>
</ul>
</div>
</div>

</body>
<% include partials/script %>
</html>
